#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body, html {
  height: 100%;
}

.bg{
  background-image: url('./Images/News\ Banner.jpg');
  background-position: center;
  background-size: cover
  
}

h1{
  margin: 10px auto 0px auto;
  background-color: aliceblue;
  width: 40%;
  text-align:center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 5px;
  }


.card {
  padding: 2em;
  border-radius: 15px;
}


img{
  border-radius: 15px;
  border: 5px solid rgb(255, 255, 255);
}

.container{
    border-radius: 15px;
}

.navbar{
  margin-bottom: 10px;
}
